/* ==========================================
   RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* ==========================================
   BODY
========================================== */

body{

    background:#F8F6F0;

    display:flex;

    justify-content:center;

    color:#000;

    min-height:100vh;

}

/* ==========================================
   PAGE
========================================== */

.page{

    width:100%;

    max-width:430px;

    padding:28px 20px 40px;

    display:flex;

    flex-direction:column;

    align-items:center;

}

/* ==========================================
   LOGO
========================================== */

.top-header{

    text-align:center;

   margin-bottom:50px;   

}

.cola-logo{

    width:110px;

    display:block;

    margin:auto;

}

/* ==========================================
   WELCOME
========================================== */

.welcome-section{

    width:100%;

    text-align:center;

    margin-top:100px;

}

.welcome-title{

    font-size:42px;

    font-weight:700;

    line-height:1.15;

    color:#000;

}

.teacher-name{

    margin-top:5px;

    margin-bottom:5px;

    font-size:13px;

    color:#666;

}

/* ==========================================
   COURSE
========================================== */

.course-section{

    width:100%;

    text-align:center;

    margin-top:0;

    margin-bottom:20px;

}

.course-code{

    font-size:36px;

    font-weight:700;

    line-height:1;

    margin-bottom:5px;

}

.course-name{

    font-size:13px;

    color:#555;

    line-height:1.4;

}

/* ==========================================
   MENU CARD
========================================== */

.menu-card{

    width:100%;

    max-width:340px;

    background:#fff;

    border-radius:22px;

    padding:16px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    margin:50px auto 0;

}

/* ==========================================
   BUTTON
========================================== */

.btn{

    width:100%;

    border:none;

    border-radius:14px;

    padding:12px 14px;

    margin-top:10px;

    cursor:pointer;

    transition:.25s;

    font-size:17px;

    font-weight:700;

    color:#000;

}

.btn:first-child{

    margin-top:0;

}

.btn:hover{

    transform:translateY(-2px);

    box-shadow:0 6px 16px rgba(0,0,0,.12);

}

/* ==========================================
   BUTTON COLOR
========================================== */

.btn-orange{

    background:#FF964A;

}

.btn-yellow{

    background:#FFD34A;

}

.btn-gray{

    background:#C4C4C4;

}

.btn,
.btn *{

    color:#000 !important;

}

/* ==========================================
   FOOTER
========================================== */

footer{

    margin-top:20px;

    text-align:center;

    font-size:13px;

    color:#777;

}

/* ==========================================
   MOBILE
========================================== */

@media(max-width:480px){

.page{

    padding:24px 18px 35px;

}

.cola-logo{

    width:150px;

}

.welcome-section{

    margin-top:35px;

}

.welcome-title{

    font-size:36px;

}

.teacher-name{

    font-size:11px;

    margin-bottom:5px;

}

.course-code{

    font-size:30px;

}

.course-name{

    font-size:12px;

}

.course-section{

    margin-bottom:45px;

}

.menu-card{

    width:92%;

    padding:12px;

}

.btn{

    padding:12px;

    font-size:15px;

    margin-bottom:8px;

}

footer{

    font-size:12px;

}

}
