*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:'Poppins',sans-serif;

}

/* ===========================

   BODY

=========================== */

body{

    background:#F8F6F0;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    color:#222;

}

/* ===========================

   CONTAINER

=========================== */

.container{

    width:100%;

    max-width:430px;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    padding:28px 22px;

}

/* ===========================

   HEADER

=========================== */

.header{

    text-align:center;

}

/* ===========================

   LOGO

=========================== */

.logo{

    width:170px;

    display:block;

    margin:0 auto;

}

/* ===========================

   WELCOME

=========================== */

h1{

    margin-top:100px;

    font-size:38px;

    line-height:43px;

    font-weight:700;

    color:#000000;

}

h1 span{

    font-size:45px;

    font-weight:700;

    color:#000000;

}

/* ===========================

   TEACHER

=========================== */

.header p{

    margin-top:20px;

    font-size:18px;

    color:#666;

    font-weight:400;

}

/* ===========================

   COURSE CARD

=========================== */

.course-card{

    margin-top:auto;

    margin-bottom:80px;

    background:#FFFFFF;

    border-radius:26px;

    padding:20px;

    box-shadow:

        0 10px 30px rgba(0,0,0,.08);

}

/* ===========================

   TITLE

=========================== */

.course-card h2{

    text-align:center;

    font-size:28px;

    font-weight:800;

    color:#222;

    margin-bottom:18px;

}

/* ===========================

   BUTTON

=========================== */

button{

    width:100%;

    border:none;

    border-radius:16px;

    padding:12px 16px;

    margin-top:10px;

    cursor:pointer;

    transition:.25s;

}

/* Hover */

button:hover{

    transform:translateY(-2px);

    box-shadow:0 8px 18px rgba(0,0,0,.15);

}

/* สีปุ่ม */

button:first-of-type{

    background:#FFD34A;

}

.orange{

    background:#FF974A;

}

/* ===========================

   COURSE CODE

=========================== */

.course-code{

    font-size:24px;

    font-weight:800;

    color:#222;

    line-height:1.05;

    margin-bottom:2px;

}

/* ===========================

   COURSE NAME

=========================== */

.course-name{

    font-size:14px;

    font-weight:500;

    color:#333;

    line-height:1.15;

}

/* ===========================

   RESPONSIVE

=========================== */

@media (max-width:480px){

    .container{

        padding:24px 18px;

    }

    .logo{

        width:145px;

    }

    h1{

        font-size:34px;

        line-height:38px;

    }

    h1 span{

        font-size:40px;

    }

    .course-card{

        margin-bottom:35px;

    }

    .course-card h2{

        font-size:24px;

    }

}
