*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#F7F5EF;

overflow:hidden;

display:flex;

justify-content:center;

}

/* วงกลมพื้นหลัง */

.background-circle{

position:fixed;

border-radius:50%;

z-index:-1;

filter:blur(5px);

}

.circle1{

width:300px;

height:300px;

background:#DCEAD8;

top:-120px;

left:-120px;

opacity:.7;

}

.circle2{

width:250px;

height:250px;

background:#FFF0C9;

right:-100px;

bottom:-80px;

opacity:.8;

}

.container{

width:100%;

max-width:430px;

min-height:100vh;

display:flex;

flex-direction:column;

padding:35px 22px;

}

.header{

text-align:center;

}

.logo{

width:165px;

margin:auto;

display:block;

margin-bottom:20px;

}

h1{

font-size:42px;

font-weight:700;

line-height:48px;

color:#1F1F1F;

}

h1 span{

font-size:50px;

font-weight:900;

color:#2B4732;

}

p{

margin-top:14px;

font-size:18px;

color:#666;

font-weight:400;

}

.course-card{

margin-top:auto;

background:#FFFFFF;

border-radius:30px;

padding:22px;

margin-bottom:55px;

box-shadow:

0 10px 30px rgba(0,0,0,.08),

0 2px 6px rgba(0,0,0,.04);

backdrop-filter:blur(20px);

}

.course-card h2{

font-size:20px;

margin-bottom:18px;

color:#2B4732;

font-weight:700;

}

button{

width:100%;

border:none;

padding:16px;

border-radius:16px;

margin-top:14px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 12px 25px rgba(0,0,0,.15);

}

button:first-of-type{

background:#FFD447;

}

.orange{

background:#FF9645;

}

.course-code{

font-size:26px;

font-weight:800;

color:#222;

}

.course-name{

font-size:15px;

margin-top:4px;

font-weight:500;

color:#333;

}

@media(max-width:480px){

.logo{

width:145px;

}

h1{

font-size:36px;

line-height:40px;

}

h1 span{

font-size:42px;

}

.course-card{

margin-bottom:35px;

}

}
